body {
    font: roboto;
}

.header, .footer {
    background: #1F2937;
}

.header h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header {
    font-size: 18px;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.call-to {
    background-color: #3882F6;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

blockquote {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}